<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<footer class="footer bg-light text-center py-3">
    <div class="container">
        <span class="text-muted" th:text="#{footer_contact_info}">2024 VehicleMarket. Contacts: example@gmail.com +359888888888.</span>
    </div>
</footer>
</body>
</html>
