<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boats</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container mt-5">
    <h1>Boats</h1>
    <div
            th:each="boat : ${allBoats}"
            th:object="${boat}"
            class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">Name: <span th:text="${boat.name}"></span></div>
                    <div class="card-text">Brand: <span th:text="${boat.brand}"></span></div>
                    <div class="card-text">Model: <span th:text="${boat.model}"></span></div>
                    <div class="card-text">Boat type: <span th:text="${boat.boatType}"></span></div>
                    <div class="card-text">Production Year: <span th:text="${boat.productionYear}"></span></div>
                    <div class="card-text">Price: <span th:text="${boat.price}"></span></div>
                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" th:href="@{/boats/{id}(id=${boat.id})}">Details</a>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                <form th:action="@{/boats/delete/{id}(id=${boat.id})}" method="post" onsubmit="return confirm('Are you sure you want to delete this boat?');">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit" class="btn btn-danger">Delete Boat</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
