<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarDetails</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Car Details</h2>
    <div
            th:object="${carDetails}"
            class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-2 col-md-3 col-lg-4 m-1 p-0">
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="image-container">
                        <img th:src="${carDetails.imageURL}" alt="Car Image"/>
                    </div>
                    <div class="card-text">Name: <span th:text="${carDetails.name}">Name</span></div>
                    <div class="card-text">Brand: <span th:text="${carDetails.brand}">Brand</span></div>
                    <div class="card-text">Model: <span th:text="${carDetails.model}">Model</span></div>
                    <div class="card-text">Transmission Type: <span th:text="${carDetails.transmissionType}">Transmission Type</span></div>
                    <div class="card-text">Car Type: <span th:text="${carDetails.carType}">Car Type</span></div>
                    <div class="card-text">Engine Type: <span th:text="${carDetails.engineType}">Engine Type</span></div>
                    <div class="card-text">Horsepower: <span th:text="${carDetails.horsePower}">Horsepower</span></div>
                    <div class="card-text">Production Year: <span th:text="${carDetails.productionYear}">Production Year</span></div>
                    <div class="card-text">Price: <span th:text="${carDetails.price}">Price</span></div>
                    <div class="card-text">Description: <span th:text="${carDetails.description}">Description</span></div>
                    <div class="card-text">Owner Phone Number: <span th:text="${carDetails.ownerPhone}">Owner Phone Number</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
